body{
  background-color: #81e6e4;
}

#title {
  font-family: 'Parisienne', cursive;
  font-size: 70px;
  text-align: center;
}

#instruction {
  font-family:  monospace;
  font-size: 50px;
  text-align: center;
}

.canPlace {
  padding : 1px;
  background-clip: content-box;
  box-shadow: inset 0 0 0 4px black;
}


.clicked {
  padding : 1px;
  background-clip: content-box;
  box-shadow: inset 0 0 0 5px yellow;
}

.board {
  margin: auto;
  display: table;
  border-spacing: 60px;

}
.row {
  display: table-row
}
.cell {
  width: 50px;
  height: 50px;
  border-radius : 100px;
  display: table-cell;
}

.grey {
  background: grey;
}

.player {
  display : inline-block;
  border-spacing: 15px;
  text-align: center;
  font-family: monospace;
  font-size: 30px;
}

.player1 {
  float: left;
}

.red{
  background-color: red;
}
/* d41f15 */
.player2 {
  float: right;
}

.blue{
  background-color: blue;
}
/* 1362c2 */

/* .row div:last-child {
  background: red
} */
